---
layout: compress
header :
  image: /images/header.jpg
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% if page.image %}
      {% assign intro_image = page.image.path | default: page.image | relative_url | escape %}
      <div class="intro-image">
        <img src="{{ intro_image }}" alt="{{ page.title }}">
      </div>
    {% endif %}
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
